/* @font-face {
	font-family: "Futura PT";
	src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
	url("../fonts/subset-FuturaPT-Book.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
	url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
	font-weight: 700;
	font-style: bold;
	font-display: swap;
} */

/*TAYYOR SHABLONLAR*/

.btn{
	display: inline-block;
	width: auto;
	padding: 10px;
	font-weight: bold;
	border-radius: 3px;
	color: white;
	transition: all 1s ease;
}

.btn:hover{
	color: black;
	font-weight: bold;
	background: #00b09b;
	background: -webkit-linear-gradient(to left, #96c93d, #00b09b);
	background: linear-gradient(to left, #96c93d, #00b09b);
	transition: all 1s ease;
}

a{
	text-decoration: none;
}

/*TUGADI*/

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body{
	height: 100vh;
	margin: 0;
	padding: 0;
	color: #222;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
	background-color: #090E16;
	background-image: url("../img/applebg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;	
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container{
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.btn_wrapper{
	display: flex;
	align-items: start;
}	

.btn{
	width: auto;
	margin: 0;
	padding: 0;
	color: #7B4AE2;
	padding: 5px 10px;
	background-color: rgba(123, 74, 226, 10%);
	border-radius: 16px;
	font-weight: bold;
	margin-right: auto;
}

/* HEADER */

.header_container{
	padding-top: 38px;
}

.site_header_wrapper{
	background: rgba(123, 74, 226, 0.05);
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 23px 14px 24px;
	
}

.site_header_logo_link{
	margin: 0;
	padding: 0;
	display: flex;
}

.site_header_logo_img{
	width: 200px;
}

.site_header_nav_list{
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
}

.site_header_nav_item{
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
	margin-right: 16px;
}

.site_header_nav_link{
	font-size: 18px;
	color: rgba(255, 255, 255, 0.5);
}

.site_header_nav_link:active{
	font-size: 18px;
	color: rgba(123, 74, 226, 0.5);
}

/* HERO */

.site_hero{
	background-image: url('./../img/main/AvatarAndIcons.svg');
	background-repeat: no-repeat;
	background-position: calc(50% + 25px), center;
	border-bottom: 1px solid #7B4AE233;
}

.hero_container{
	padding-top: 191px;
	padding-bottom: 186px;
	display: flex;
	justify-content: space-between;
}

.hero_hello_wrapper{
	display: flex;
	align-items: start;
}

.hero_hello{
	width: auto;
	margin: 0;
	padding: 0;
	color: #7B4AE2;
	padding: 5px 10px;
	background-color: rgba(123, 74, 226, 10%);
	border-radius: 16px;
	font-weight: bold;
	margin-bottom: 24px;
	margin-right: auto;
}

.hero_title{
	width: 240px;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 52px;
	line-height: 61px;
	color: #FFFFFF;
	margin-bottom: 16px;
}

.hero_job{
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-align: justify;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 25px;
}

.hero_links_img{
	margin-right: 16px;
}

.hero_links_img_telegram{
	width: 32px;
	height: 32px;
}

.hero_right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}


.hero_cvdownload{
	display: flex;
	align-items: center;
	font-weight: bold;
	color: rgba(123, 74, 226, 0.5);
	
}

.hero_cvlink{
	display: flex;
	align-items: center;
	padding: 14px 16px;
	border: 1px solid rgba(123, 74, 226, 0.5);
	border-radius: 16px;
	font-weight: 600;
	font-size: 16px;
	color: rgba(123, 74, 226, 0.5);
}

.hero_cvlinkimg{
	width: 24px;
	height: 24px;
	margin-right: 8px;
}

/* ABOUT ME */

.aboutme{
	padding-top: 141px;
	padding-bottom: 150px;
}

.aboutme_container{
	display: flex;
	justify-content: space-between;
}

.about_img{
	width: 460px;
	/* background-color: white; */
	border-radius: 50%;
}

.about_title_wrapper{
	display: flex;
}

.about_title{
	width: auto;
	margin: 0;
	padding: 0;
	color: #7B4AE2;
	padding: 5px 10px;
	background-color: rgba(123, 74, 226, 10%);
	border-radius: 16px;
	font-weight: bold;
	margin-bottom: 24px;
	margin-right: auto;
}

.about_fullname{
	width: 500px;
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
	margin-bottom: 24px;
}

.about_p{
	color: white;
	margin: 0;
	font-size: 14px;
	line-height: 25px;
	color: rgba(255, 255, 255, 0.5);
}

.about_callme{
	margin-bottom: 32px;
}

.about_full_wrapper{
	margin-bottom: 32px;
}

.about_full{
	margin-bottom: 6px;
}

/* PORTFOLIO */

.portfolio{
	margin-bottom: 140px;
}

.portfolio_top_wrapper{
	padding-bottom: 100px;
}

.portfolio_title_wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.portfolio_title{
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
	margin: 0;
}

.portfolio_button_list{
	list-style-type: none;
	display: flex;
	align-items: center;
}

.portfolio_button_item{
	margin-right: 32px;
}

.portfolio_button_item-last{
	margin-right: 0;
}

.portfolio_button{
	width: 100%;
	display: flex;
	align-items: center;
	border: 1px solid rgba(123, 74, 226, 0.5);
	border-radius: 16px;
	background-color: transparent;
	padding: 11px 15px;
	color: rgba(123, 74, 226, 0.5);
	font-weight: 500;
}

.portfolio_img{
	width: 35px;
	margin-right: 16px;
}

.portfolio_bottom_list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	
}

.portfolio_bottom_item{
	width: 360px;
	padding: 30px;
	border: 1px solid rgba(123, 74, 226, 0.5);
	border-radius: 16px;
	margin-right: 100px;
	margin-bottom: 30px;
}

.portfolio_bottom_item:hover{
	background: #7B4AE21A;
}

.portfolio_bottom_item:nth-child(3n+3){
	margin-right: 0;
}

.portfolio_bottom_title{
	font-size: 20px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
}

.portfolio_bottom_text{
	margin: 0;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 68px;
}

.portfolio_bottom_with_wrapper{
	margin-bottom: 22px;
}

.portfolio_bottom_with{
	font-size: 16px;
	color: #7B4AE2;
	font-weight: bold;
	background: rgba(123, 74, 226, 0.1);
	border-radius: 8px;
	padding: 5px 8px;
}

.portfolio_bottom_img{
	border-radius: 8px;
}

/* SKILLS */

.skills_container{
	display: flex;
	flex-direction: column;
}

.skills_about{
	margin-left: auto;
	margin-right: auto;
}

.skills_title{
	font-size: 48px;
	text-align: center;

	margin: 0;
	padding: 0;
	color: #fff;
	margin-bottom: 100px;
}

.skills_top_wrapper{
	margin-bottom: 60px ;
}

.skills_top_title{
	font-size: 24px;
	text-align: center;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
}

.skills_top_list{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
}

.skills_top_img{
	width: 64px;
	height: 64px;
}